body {
  margin: 0;
  font-family: 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(1, 1, 32);
}
*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background:white;
  -webkit-box-shadow: inset 0 0 6px #ccc; 
}

::-webkit-scrollbar-thumb {
  background:linear-gradient(120deg, #000000, #004cff);
}

.main{
  width: 481px;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 15px;
  .search{
    position: relative;
    input{
      width: 100%;
      padding: 5px 20px;
      border-radius: 5px;
      border: 1px solid #aaa;
    }
    span{
      position: absolute;
      right: 20px;
      top: 58%;
      transform: translateY(-50%);
    }
  }
}

.loading{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p{
    margin: 5px;
    font-size: 10px;
    color: #818181;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .spin-loading {
    animation: spin-loading infinite 2s linear;
  }
}

@keyframes spin-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-chats{
  .item-chats{
    display: flex;
    padding: 20px 0 30px 0;
    border-bottom: 2px solid #c0c0c0;
    .profile-chat{
      margin: 0px 20px 10px 0;
      width: 45px;
      position: relative;
      .group-chat{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        position: absolute;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .group-chat-1{
        background: #e0e0e0;
        left: 0;
      }
      .group-chat-2{
        right: 0;
        background: #2f80ed;
      }

    }
    .display-chat{
      width: calc(100% - 65px);
      font-size: 14px;
      color: #c0c0c0;
      .header{
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        margin-bottom: 5px;
        .name{
          font-size: 16px;
          color: #2f80ed;
          max-width: 67%;
        }
        .date{
          padding-left: 10px;
        }
      }
      .massager{
        font-weight: bold;
        margin-bottom: 5px;
        color: #6b6b6b;
      }
      .massage{
        display: flex;
        .text{
          margin-bottom: 5px;
          max-width: 67%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .notif{
          width: 33%;
          .icon-notif{
            float: right;
            width: 10px;
            height: 10px;
            background-color: #eb5757;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

.chat{
  .header-chat{
    border-bottom: 2px solid #dedede;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    padding: 15px;
    .back-chat{
      background: transparent;
      border: none;
    }
    .title-chat{
      width: 90%;
      padding: 0 10px;
      .name-chat{
        font-size: 16px;
        color: #2f80ed;
        margin-bottom: 5px;
      }
      .participants{
        font-size: 12px;
      }
    }
  }
  .content-chat{
    margin-top: 70px;
    .messanger-chat{
      width: 80%;
      margin-bottom: 20px;
      .name-messager{
        color: #e5a443;
        font-weight: bold;
        margin-bottom: 2px;
      }
      .desc-message{
        display: flex;
        p{
          background: #fceed3;
          padding: 10px;
          text-align: left;
          border-radius: 5px;
          margin: 0;
          font-size: 14px;
        }
        .option-message{
          padding: 0 5px;
          position: relative;
          img{
            cursor: pointer;
          }
          .action-message{
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            display: none;
            position: absolute;
            right: 0;
            .item-action-message{
              padding: 10px;
              cursor: pointer;
              background: white;
              min-width: 100px;
            }
            .edit{
              border-bottom: 1px solid #d6d6d6;
              color: #3c88ee;
            }
            .delete{
              color: #eb5757;
            }
          }
        }
      }
    }
    .messanger-chat-me{
      width: 80%;
      margin-bottom: 20px;
      margin-left: 20%;
      .name-messager{
        text-align: right;
        color: #9b51e0;
        font-weight: bold;
        margin-bottom: 2px;
      }
      .desc-message{
        display: flex;
        p{
          background: #eedcff;
          padding: 10px;
          text-align: left;
          border-radius: 5px;
          margin: 0;
          font-size: 14px;
        }
        .option-message{
          padding: 0 5px;
          position: relative;
          img{
            cursor: pointer;
          }
          .action-message{
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            display: none;
            position: absolute;
            left: 0;
            .item-action-message{
              padding: 10px;
              cursor: pointer;
              background: white;
              min-width: 100px;
            }
            .edit{
              border-bottom: 1px solid #d6d6d6;
              color: #3c88ee;
            }
            .delete{
              color: #eb5757;
            }
          }
        }
      }
    }
  }
}